In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2021-11-24 18:44:28,-42.7826,147.0587,55.92,63,9,3.00
1,1,Kavaratti,IN,2021-11-24 18:44:28,10.5669,72.6420,80.92,81,100,5.70
2,2,Sobolevo,RU,2021-11-24 18:44:29,54.4299,31.8996,33.51,91,95,13.78
3,3,Ushuaia,AR,2021-11-24 18:42:47,-54.8000,-68.3000,49.66,53,40,21.85
4,4,Yellowknife,CA,2021-11-24 18:44:29,62.4560,-114.3525,-5.71,70,75,9.22
...,...,...,...,...,...,...,...,...,...,...
565,565,Lucea,JM,2021-11-24 19:00:14,18.4510,-78.1736,85.86,69,77,16.42
566,566,Bilma,NE,2021-11-24 19:00:14,18.6853,12.9164,79.99,16,0,7.23
567,567,Zhob,PK,2021-11-24 19:00:15,31.3411,69.4481,54.77,35,0,1.45
568,568,Marabba,SD,2021-11-24 19:00:16,12.3500,32.1833,83.08,17,0,9.82
569,569,Mangan,IN,2021-11-24 19:00:16,27.5167,88.5333,59.52,77,89,2.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
city_data_df["Max Temp"]

0      55.92
1      80.92
2      33.51
3      49.66
4      -5.71
       ...
565    85.86
566    79.99
567    54.77
568    83.08
569    59.52
Name: Max Temp, Length: 570, dtype: float64

In [6]:
# Get the max temp
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# temperatures = temps

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=3.5)

# adjust heatmap zoom
fig = gmaps.figure(center=(30, 31), zoom_level=1.5)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kavaratti,IN,2021-11-24 18:44:28,10.5669,72.6420,80.92,81,100,5.70
7,7,Oranjestad,AW,2021-11-24 18:41:00,12.5240,-70.0270,84.15,70,40,14.97
13,13,Mbaiki,CF,2021-11-24 18:44:32,3.8678,17.9892,75.02,49,40,1.86
17,17,Lorengau,PG,2021-11-24 18:44:36,-2.0226,147.2712,80.82,79,39,3.20
18,18,Waslala,NI,2021-11-24 18:44:36,13.2333,-85.3833,84.54,54,71,7.34
22,22,Tecoanapa,MX,2021-11-24 18:44:37,16.5167,-98.7500,82.67,72,1,7.31
28,28,Kouango,CF,2021-11-24 18:44:39,4.9934,19.9619,78.01,46,0,2.98
33,33,Hithadhoo,MV,2021-11-24 18:44:42,-0.6000,73.0833,82.09,75,100,17.90
35,35,San Cristobal,VE,2021-11-24 18:44:43,7.7669,-72.2250,77.18,85,68,3.18
36,36,Salalah,OM,2021-11-24 18:44:43,17.0151,54.0924,82.49,83,75,5.75

In [13]:
preferred_cities_df.count()

City_ID       197
City          197
Country       196
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

           City Country  Max Temp      Lat       Lng Hotel Name
1     Kavaratti      IN     80.92  10.5669   72.6420
7    Oranjestad      AW     84.15  12.5240  -70.0270
13       Mbaiki      CF     75.02   3.8678   17.9892
17     Lorengau      PG     80.82  -2.0226  147.2712
18      Waslala      NI     84.54  13.2333  -85.3833
..          ...     ...       ...      ...       ...        ...
563  Hambantota      LK     75.54   6.1241   81.1185
564       Kunya      NG     81.32  12.2233    8.5325
565       Lucea      JM     85.86  18.4510  -78.1736
566       Bilma      NE     79.99  18.6853   12.9164
568     Marabba      SD     83.08  12.3500   32.1833

[197 rows x 6 columns]

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found.... skipping')

Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping
Hotel not found.... skipping

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kavaratti,IN,80.92,10.5669,72.6420,Hotels in Lakshadweep Islands
7,Oranjestad,AW,84.15,12.5240,-70.0270,Divi Village Golf & Beach Resort
13,Mbaiki,CF,75.02,3.8678,17.9892,Motel MBM
17,Lorengau,PG,80.82,-2.0226,147.2712,Lorengau Harbourside Hotel
18,Waslala,NI,84.54,13.2333,-85.3833,
22,Tecoanapa,MX,82.67,16.5167,-98.7500,Hotel Manglares
28,Kouango,CF,78.01,4.9934,19.9619,
33,Hithadhoo,MV,82.09,-0.6000,73.0833,Scoop Guest House
35,San Cristobal,VE,77.18,7.7669,-72.2250,Posada Villaven C.A.
36,Salalah,OM,82.49,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))